<div class="container-fluid back">
  <div class="offcanvas offcanvas-start show offcanvas-custom" tabindex="-1" id="offcanvas_target" aria-labelledby="offcanvasLabel">
    <div class="offcanvas-header">
      <h3>Feeds Subscribed</h3>
      <button class="btn-close" type="button" aria-label="close" data-bs-dismiss="offcanvas" data-bs-target="#offcanvas_target"></button>
    </div>
    <div class="offcanvas-body">

    </div>
  </div>
  <div class="row">
  <button class="btn btn-primary" data-bs-toggle="offcanvas" data-bs-target="#offcanvas_target" aria-controls="offcanvas_target">Toggle</button>
    <div class="col-lg-3 col-sm-3 col-md-3">
    <!--<div class="hide">-->
      <!--<div class="mb-3">-->
        <!--<label class="form-label" for="feedName">Feed Name</label>-->
        <!--<input class="form-control" type="text" [(ngModel)]="inputFeedName" id="feedName">-->
      <!--</div>-->
      <!--<div class="mb-3">-->
        <!--<label class="form-label" for="feedType">Feed Type</label>-->
        <!--<input class="form-control" type="text" [(ngModel)]="inputFeedType" id="feedType">-->
      <!--</div>-->
      <!--<button class="btn btn-primary" (click)="buttonClicked()">Click it</button>-->
    <!--</div>-->
    </div>
    <div class="col-lg-9 col-sm-9 col-md-9">
      @for (each_feed of feed; track each_feed.title) {
        <div class="card custom-card">
          <div class="card-title custom-card-title">
            <h3>{{ each_feed.feedName }}</h3>
            <h3>{{ each_feed.feedType }}</h3>
          </div>
          @if ( each_feed.media_thumbnail ) {
            <img src="{{ each_feed.media_thumbnail[0].url }}" class="card-image-top">
          }
          <div class="card-body">
            <h5>{{ each_feed.title }}</h5>
            <div class="col-12 custom-content-card" [innerHTML]="each_feed.summary"></div>
            <a href="{{ each_feed.link }}">link</a>
          </div>
        </div>
      }
    </div>
  </div>
</div>
