.back {
  background-color: #c0930d;
}

.custom-card {
  padding: 20px;
  margin: 20px;
  font-family: monospace;
}

.custom-card-title {
  padding: 10px;
  background-color: #89cad2;
  font-family: sans-serif;
}

.custom-content-card {
  padding: 20px;
  a {
    font-style: italic;
    font-weight: bold;
  }
}

.offcanvas-custom {
  position: fixed;
  left: 0px;
  top: 0px;
  height: 100vh;
  width: 20vw;
}

.hide {
  visibility: hidden;
}
